@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body{
  max-width:100%;
  font-family: 'Arvo', sans-serif;
  background-color:#eee;
  margin: 0 auto;
}

.container{
  max-width: 100%;
  padding: 0 9rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 6em;
  border: none;
  display: grid;
    
  }
.bot{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #384c6d
}

.links{
  padding-left: 20px
}

header{
    display: flex;
    text-decoration: none;
    padding: 0px 0px;
    letter-spacing: .075rem;
    text-transform: uppercase;
      }


.cv{
text-align: center;
margin:300px;
margin-top:215px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}


h2.header{
  margin-bottom: 0 auto;
  text-align:left;
  display:flex;
  max-width: 100%;
}
.box{
  float: center;
  text-align: center;
    box-sizing: border-box;
    margin: -72px 0px;
    border-radius: 20px ;
    padding: 10%;
    text-align: center;
    background: #425771;
    color: #fff;
}

.text{
  padding-left: 90px;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 0 auto;
  padding-top: 0px;
}
.sobre{
  text-align: left;
  float: left;
    margin: 9px -70px;
    padding-right: 100px;
    padding: 26px;
    display: grid;

}

.skills{
  text-align:left;
  float: right;
    margin: -15px 89px;
    padding-right: 200px;
    padding: 70px;
    display: grid;
}

li{
  list-style: none;
}


header {
  display:flex;
  text-decoration: none;
  padding: 0px 150px;
  letter-spacing: .075rem;
  text-transform: uppercase;
}

.setup {
  padding: 350px 150px;
  margin:200px 440px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(88, 91, 92);
}

.text-setup {
  padding:0px 0px;
}
.fotoset{
  float: left;
  border-radius: 10px;
  
}

.config{
  float: right;
}

.socialmedia{
  text-align: center;
}

.socialmedia{
  margin: 20px 300px;
  padding: 30px 300px;
  font-family: 'Roboto';
  font-size: 1.9em;

}

.media{
  
  border-radius: 10px;
  border: 2px solid rgb(3, 17, 63);
  text-decoration: none;
}